body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:white;
    background:url('../../../../images/background.jpg') repeat;
}

legend{
    color:white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

#custom-bootstrap-menu {
    background: url('../../../../images/background.jpg') repeat;
}

    #custom-bootstrap-menu.navbar-default .navbar-nav > li > a, .nav > .navbar-nav > .navbar-right, .nav > .navbar-nav > .navbar-right > .navbar-text {
        color: rgba(255, 255, 255, 1);
    }

    
    
    #login-dp {
    color: black;
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

    #login-dp .help-block {
        font-size: 12px;
    }

    #login-dp .bottom {
        background-color: rgba(255,255,255,.8);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .form-group {
        margin-bottom: 10px;
    }


@media screen and (max-width:767px) {
    .carousel-caption {
        display: none;
    }
}

#quick-nav {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.3);
}
#quick-nav .form-group {
    margin-bottom: 10px;
    background-color: rgba(255,255,255,1);
}

#account-button:hover, #logout:hover{
    color:black;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }

}

@media screen and (max-width:767px) {
    .carousel-caption {
        display: none;
    }
}

    /* Hide/rearrange for smaller screens */
    @media screen and (max-width: 767px) {
        /* Hide captions */
        .carousel-caption {
            display: none;
        }
    }
