@{
    ViewData["Title"] = "Home Page";
}

<div id="con" onclick="getimage()">

    Тут будет картинка:)

</div>
<div class="row">
</div>

@section scripts
{
    <script type="text/javascript" src="/js/jquery.cloudinary.js"></script>
    <script type="text/javascript" src="/js/lotsLoader.js"></script>
}