@model CTA.DTO.UserDTO
@{
    ViewData["Title"] = "Home Page";
}


@section login
{
        @if (User.Identity.Name != null)
        {
            @Html.Partial("UserCabPartial");
        }
        else
        {
            @Html.Partial("LoginPartial");
        }
}
               

<div id="con">
    Тут будет картинка:)
</div>
<div class="row contents">
</div>



@section scripts
{
    <script type="text/javascript" src="/js/jquery.cloudinary.js"></script>
    <script type="text/javascript" src="/js/lots-loader.js"></script>
}
