<ul class="nav navbar-nav navbar-right">
    <li>
        <p class="navbar-text">Welcom, </p>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>@User.Identity.Name</b> <span class="caret"></span></a>
        <ul id="quick-nav" class="dropdown-menu">
            <li>
                <div class="row">
                    <div class="col-md-12">
                        <form class="form" role="form" accept-charset="UTF-8" id="quick-form">
                            <div class="form-group">
                                <button id="account-button" type="button" class="btn btn-link btn-lg btn-block">My account</button>
                            </div>
                            <div class="form-group">
                                <button id="logout" type="button" class="btn btn-link btn-lg btn-block">Logout</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
