@using CloudinaryDotNet
@model Cloudinary


@{
    ViewData["Title"] = "Registration page";
}

<form class="form-horizontal">
    <fieldset>
        <legend>Регистрация</legend>
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username:</label>
            <div class="col-md-4">
                <input name="username" class="form-control input-md" id="username" required="" type="text" placeholder="Username">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password:</label>
            <div class="col-md-4">
                <input name="password" class="form-control input-md" id="password" required="" type="password" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="confirmpassword">Confirm password:</label>
            <div class="col-md-4">
                <input name="confirmpassword" class="form-control input-md" id="confirmpassword" required="" type="password" placeholder="Confirm password">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name:</label>
            <div class="col-md-4">
                <input name="name" class="form-control input-md" id="name" required="" type="text" placeholder="Name">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="surname">Surname:</label>
            <div class="col-md-4">
                <input name="surname" class="form-control input-md" id="surname" required="" type="text" placeholder="Surname">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email:</label>
            <div class="col-md-4">
                <input name="email" class="form-control input-md" id="email" required="" type="text" placeholder="Email">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="phone">Phone:</label>
            <div class="col-md-4">
                <input name="phone" class="form-control input-md" id="phone" required="" type="text" placeholder="Phone">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="country">Country:</label>
            <div class="col-md-4">
                <input name="country" class="form-control input-md" id="country" required="" type="text" placeholder="Country">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="city">City:</label>
            <div class="col-md-4">
                <input name="city" class="form-control input-md" id="city" required="" type="text" placeholder="City">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="credit">Credit Card:</label>
            <div class="col-md-4">
                <input name="credit" class="form-control input-md" id="credit" required="" type="text" placeholder="Number">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="image">Avatar:</label>
            <div class="col-md-4">
                @Model.Api.BuildUploadForm("image_id", "auto",
                    new SortedDictionary<string, object>() { { "callback", "~/Content/cloudinary.html" } },null)
            </div>
        </div>

        <input type="hidden" value="" id="image_id" name="image_id" />

        <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-8">
                <button name="submit" class="btn btn-success" id="signup">Submit</button>
                <button name="cancel" class="btn btn-danger" id="cancel">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>


@section scripts
{

@Model.GetCloudinaryJsConfig(true, @"/js/")
<script type="text/javascript">
    $(function () {
        if ($.fn.cloudinary_fileupload !== undefined) {
            $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
        }
    });
</script>
<script>

    $(this).bind("cloudinarydone", function (e, data) {

        $('.cloudinary-fileupload').attr("value", data.result.public_id.toString());

        new Noty({
            type: 'success',
            text: 'Image uploaded'
        }).show();

    })
</script>
}
